@import url('https://fonts.googleapis.com/css?family=Anton|Quicksand');
@font-face{
  font-family: 'Anton', sans-serif;
  src:url(font/Anton-Regular.ttf);
}

@font-face{
  font-family: 'Quicksand', sans-serif;
  src:url(font/Quicksand-Medium.ttf);
}

.modal-content{
  
  text-align: center;
  
}

#miModal{
  text-align: center;
}

.texto{
  font-family: 'Quicksand',sans-serif;
}

.entry-title {
    background: -webkit-linear-gradient(left, #ea8711, #d96363, #73a6df, #9085fb, #52ca79);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;

}

.page-header {
    background-color: #fc5d5d;
    margin-top: 0;
    text-align: center;
    padding: 10px 10px 10px 40px;
    font-family: 'Anton', sans-serif;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}
.esp{
    padding-left: 150px;
    padding-right: 150px;
    background-color: #f7efef;

}

/**********   BOTON obt fUnt   *********/
.btnX { 
  align-content: center;
  width: 100%;
  color: #FCE8E8; 
  background-color: #FF4C4C; 
  border-color: #F25C5C; 
} 
 
.btnX:hover, 
.btnX:focus, 
.btnX:active, 
.btnX.active, 
.open .dropdown-toggle.btnX { 
  color: #FCE8E8; 
  background-color: #FFABAB; 
  border-color: #F25C5C; 
} 
 
.btnX:active, 
.btnX.active, 
.open .dropdown-toggle.btnX { 
  background-image: none; 
} 
 
.btnX.disabled, 
.btnX[disabled], 
fieldset[disabled] .btnX, 
.btnX.disabled:hover, 
.btnX[disabled]:hover, 
fieldset[disabled] .btnX:hover, 
.btnX.disabled:focus, 
.btnX[disabled]:focus, 
fieldset[disabled] .btnX:focus, 
.btnX.disabled:active, 
.btnX[disabled]:active, 
fieldset[disabled] .btnX:active, 
.btnX.disabled.active, 
.btnX[disabled].active, 
fieldset[disabled] .btnX.active { 
  background-color: #FF4C4C; 
  border-color: #F25C5C; 
} 
 
.btnX .badge { 
  color: #FF4C4C; 
  background-color: #FCE8E8; 
}
/**********   TERMINABTON *********/

.btnY { 
  width: 50%;
  color: #FCE8E8; 
  background-color: #FF4C4C; 
  border-color: #F25C5C; 
} 
 
.btnY:hover, 
.btnY:focus, 
.btnY:active, 
.btnY.active, 
.open .dropdown-toggle.btnY { 
  color: #FCE8E8; 
  background-color: #FFABAB; 
  border-color: #F25C5C; 
} 
 
.btnY:active, 
.btnY.active, 
.open .dropdown-toggle.btnY { 
  background-image: none; 
} 
 
.btnY.disabled, 
.btnY[disabled], 
fieldset[disabled] .btnY, 
.btnY.disabled:hover, 
.btnY[disabled]:hover, 
fieldset[disabled] .btnY:hover, 
.btnY.disabled:focus, 
.btnY[disabled]:focus, 
fieldset[disabled] .btnY:focus, 
.btnY.disabled:active, 
.btnY[disabled]:active, 
fieldset[disabled] .btnY:active, 
.btnY.disabled.active, 
.btnY[disabled].active, 
fieldset[disabled] .btnY.active { 
  background-color: #FF4C4C; 
  border-color: #F25C5C; 
} 
 
.btnY .badge { 
  color: #FF4C4C; 
  background-color: #FCE8E8; 
}

/*////////////////////////////////////////////////////*/

footer{
   background-color: #fc5d5d;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: white;
}

footer p {

    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

table {
  width: 100%;
}

.modal-header {
  background-color: #fc5d5d;
}

a {
  color: black;
}